@model List<LBFC.Models.Entities.Shop>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
        <th>Longtitude</th>
        <th>Latitude</th>
    </tr>
    @{
        foreach (LBFC.Models.Entities.Shop shop in Model)
        {
            <tr>
                <td >@shop.Id</td>
                <td>@shop.Name</td>
                <td>@shop.Address</td>
                <td>@shop.Longitude</td>
                <td>@shop.Latitude</td>
            </tr>
        }
    }
</table>

